/*!
 * Teo Z.
 */
button{
    border: 2px solid;
    border-radius: 2%;
    margin: 5%;
    padding: 2%;
    background-color: #450084;
    width: 600px;
    text-decoration: none;
    color: white;
    font-size: larger;
    display: flex;
    font-family: 'Times New Roman', Times, serif;

    
}

