     #createaccount{
        display: flex;
        flex-direction: column;
        width: 250px;
        gap: 10px;
    } 
    header {
        color: white;
        background-color: #450084;
        width: 100%;
        border-bottom: 1px solid white; 
        display: flex;
        justify-content: center;
        margin: 0;
    }
    #backButton {
      text-align: center;
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 15px;
      border: 1px solid #000; 
      background-color: white;
      cursor: pointer; 
      width: 100px;
      height: 10px;
      margin-top: 60px; 
      margin-left: 50px;
      color: black;
      

       
      
    }