/* Done by Holly M */

button {
    border: solid 3px;
    padding: 2%;
    width: 500px;
    color: black;
    background-color: #CBB677;
    text-decoration: none;
    font-size: larger;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2%;
}
