/* Done by Holly M */

button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: none;
    border: solid 2px;
    border-radius: 10px;
    padding: 1%;
    width: 400px;
    color: black;
    background-color: #CBB677;
    text-decoration: none;
    font-size: larger;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2%;
}
