/* Holly M */

#roomList {
    border: solid 3px;
    padding: 3%;
    width: 300px;
    color: white;
    background-color: #450084;
    text-decoration: none;
    color: white;
    font-size: larger;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 2%;

}