/* AUSTIN HODGKISS */
body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CBB677;
}
    
main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 10px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 2%;
    margin: 2%;
    padding: 2%;
    background-color: #dfd2aa;
    width: 600px;
    height: 70vh;
}
header {
    color: white;
    background-color: #450084;
    width: 100%;
    border-bottom: 1px solid white; 
    display: flex;
    justify-content: center;
    margin: 0;
}
.hamburger-menu {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white; 
    border-bottom: 1px solid white; 
}
.hamburger-menu :hover{
    transform: scale(1.5);
    text-decoration: underline;
    border-bottom: 1px solid white; 
}

#linksContainer {
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #450084;
    width: 100%;
    border-bottom: 1px solid white;
    margin: 0;
    padding: 10px;
}

#linksContainer a {
    color: white; 
    font-size: 34px; 
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
}

#linksContainer a:last-child {
    margin-right: 0;
}

#linksContainer a:hover {
    color: #CBB677; 
}

.bar {
    color: #450084;
    font-weight: bold;
    padding-right: 3px;
    padding-left: 3px;
    background-color: #CBB677;
    border-radius: 10%;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

