/*!
 * Holly M.
 */
 *{ 
    box-sizing: border-box;
 }

 main {
    flex-direction: row;
    width: 100vw;
    align-items: stretch;
    background-color: #dfd2aa;
 }

 button{
    border: none;
    border-radius: 2%;
    margin: 0;
    padding: 1vh;
    background: none;
    width: 10vw;
    text-decoration: none;
    color: #450084;
    font-size: 3vh;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    text-align: center;
   
}

div button{
    height: 6vh;
    padding: 0;
    padding-left: 1vh;
    vertical-align: middle;
    padding-top: 1vh;
    
}

div button:hover{
    border: #450084 solid 2px;
}

#logout{
    padding: 1vh;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
    width: auto;
    margin: 0;
    margin-right: 1vw;
}
#logout:hover{
    opacity: 0.75;
}
h1{
    flex-grow: 1;
    margin: 1vw;
}
header {
    align-items: center;
    border: none;
    font-size: 2vh;
}
.time-slot-button {
    display: inline;
    padding: 10px;
    margin: 5px;
    font-size: .75vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #450084;
    color: #fff;
    height: 5vh;
    width: 10vw;
    vertical-align:auto;
}

.time-slot-button:hover {
    background-color: rgb(202, 132, 202);
}

.room-button {
    font-size: 2vh;
    height: 3vh;
    padding-bottom: 5vh;
}

.room-button:hover {
    border: none;
    text-decoration: underline;
}
.room-button.active {
    border: 2px solid #450084; /* Add your preferred border style */
}


#times {
    display: flex;
    flex-direction: column;
}
header {
    align-items: center;
    border: none;
    height: auto;
    font-size: large;
}
@media only screen and (max-width: 1000px) {
    section, div{
        width: 50vw;
        min-height: 10vh;
        height: auto;
        padding: 0;
        margin: 0;
    }
    .time-slot-button{
       font-size: 2vh;
       height: 5vh;
       width:30vw;
       display: flex;
       flex-wrap: wrap;
    }
    #times{
        font-size: 3vh;

    }
    header{
        font-size: x-large;
        height: auto;
        width: 100vw;
    }
    #schedule{
        font-size: 2vh;
    }
}


 



